@import "partials/reset";
@import "partials/colors";
@import "partials/fonts";
@import "partials/mixins";

body {
  font-family: $montserrat;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  color: $dark-blue-grey;
  background: $white;
}

h1, h2, h3, h4 {
  font-family: $playfair-display;
}

/////////////////  Header  /////////////////////
.header {
  margin-top: 10vh;
  margin-left: 10vw;
  width: 80vw;
  height: 50vh;
  background: $vivid-tangerine;
  border-radius: 3px;
}

.title {
  width: 75vw;
  margin-top: 5vh;
  margin-left: 2.5vw;
  text-align: center;
}

.title h1 {
  font-size: 8rem;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.title h2 {
  font-size: 2.5rem;
  padding-bottom: 5vh;
}

//////////////////    About   ///////////////////////
.about-me {
  @include margin-top-left(32vh, 12vw);
  background: $pastel-blue;
  width: 40vw;
  height: 12vh;
  border-radius: 3px;
}

.photo-bg {
  @include margin-top-left(30vh, 70vw);
  background: $bittersweet;
  width: 15vw;
  height: 55vh;
  border-radius: 3px;
}

.about-img {
  @include margin-top-left(40vh, 64vw);
  width: 17vw;
  border-radius: 3px;
}

.about-header {
  @include margin-top-left(33vh, 14vw);
  font-size: 3.5rem;
}

.personal-info {
  @include margin-top-left(47vh, 16vw);
  width: 40vw;
  font-size: 1.5rem;
  position: absolute;
}

/////////////////// Skills ///////////////////////////
.skills-header {
  @include margin-top-left(115vh, 10vw);
  font-size: 4rem;
  color: $pastel-blue;
}

.skills-grid {
  font-size: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include margin-top-left(126vh, 15vw);
  color: $pastel-blue;
}

.skills-grid div {
  text-align: center;
  padding: 33px;
}

.skills-bg-2 {
  @include margin-top-left(110vh, 0vw);
  width: 100vw;
  height: 80vh;
  background: $dark-blue-grey;
  border-radius: 3px;
}

// ///////////////// Projects //////////////////////////
.project-header {
  @include margin-top-left(200vh, 80vw);
  font-size: 4rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  @include margin-top-left(223vh, 4vw);
  width: 94vw;
}

.project-div {
  background: $vivid-tangerine;
  border-radius: 3px;
  text-align: center;
  font-size: 1rem;
  padding: 40px 13px;
  color: white;
}

.project-div a {
  text-decoration: none;
  color: $dark-blue-grey;
  position: relative;
}

.project-title, .project-description, .project-role, .project-responsibilities {
  padding-bottom: 20px;
}

.project-div .project-title {
  font-size: 2rem;
}

//////////////////////// Contact //////////////////////////////
.contact-info {
  text-align: center;
  @include margin-top-left(315vh, 5vw);
  font-size: 1.5rem;
  margin-bottom: 10vh;
}

.contact-info p {
  width: 80vw;
  margin-left: 5vw;
}

.contact-info h2 {
  font-size: 4rem;
  @include margin-top-left(-15vh, 0vw);
}
