@import "partials/reset";
@import "partials/colors";
@import "partials/fonts";
@import "partials/mixins";

body {
  font-family: $raleway;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}


// //Overall parallax styling
// .parallax {
//   perspective: 1px;
//   height: 100vh;
//   overflow-x: hidden;
//   overflow-y: auto;
// }
// .parallax__layer {
//   position: absolute;
//   padding: 100vh 0;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }
//
// .parallax-group {
//   position: relative;
//   height: 100vh;
//   -webkit-transform-style: preserve-3d;
//   transform-style: preserve-3d;
// }
// .parallax__layer--base {
//   transform: translateZ(-1px)scale(2);
// }
// .parallax__layer--back {
//   transform: translateZ(-3px)scale(4);
// }
//
// .parallax__layer--mid {
//   transform: translateZ(-2px)scale(3);
// }
//
// //////////////////   Main Menu   /////////////////////
.main-menu {
  height: 30px;
  color: $granite-grey;
  font-size: 1.5rem;
  text-align: right;
  background: none;
}

.main-menu span {
  padding-top: 5px;
  padding-right: 10px;
  display: inline-block;
}


/////////////////  Header  /////////////////////
// .header {
//   @include parallax-positioning(30%, -125%);
//   width: 65vw;
//   height: 30vh;
//   background: $mint;
//   border-radius: 8px;
// }
//
// .title {
//   @include parallax-positioning(31%, -155%);
//   width: 65vw;
//   height: 30vh;
//   border: 2px solid black;
//   border-radius: 8px;
//   text-align: center;
// }
//
// .title h1 {
//   font-size: 6.5rem;
//   padding-top: 5vh;
//   padding-bottom: 1.5vh;
// }
//
// .title h2 {
//   font-size: 1.75rem;
// }

//////////////////    About   ///////////////////////
.about-me {
  @include parallax-positioning(45%, 20%);
  background: $parrot-pink;
  width: 25vw;
  height: 10vh;
  border-radius: 8px;
}

.photo-bg {
  @include parallax-positioning(255%, 20%);
  background: $light-steel-blue;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.about-img {
  @include parallax-positioning(408%, 108%);
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 50%;

}

.about-header {
  font-size: 3.5rem;
  @include parallax-positioning(68%, 245%);
}

.personal-info {
  width: 40vw;
  font-size: 1.5rem;
  @include parallax-positioning(32%, 100%)
}
