@import "partials/reset";
@import "partials/colors";
@import "partials/fonts";
@import "partials/mixins";

body {
  // font-family: $raleway;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}


//Overall parallax styling
.parallax {
  perspective: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__group {
  position: relative;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(-1px)scale(2);
}
.parallax__layer--back {
  transform: translateZ(-3px)scale(4);
}

.parallax__layer--mid {
  transform: translateZ(-2px)scale(3);
}

// //////////////////   Main Menu   /////////////////////
.main-menu {
  height: 30px;
  color: $granite-grey;
  font-size: 1.5rem;
  text-align: right;
  background: none;
}

.main-menu span {
  padding-top: 5px;
  padding-right: 10px;
  display: inline-block;
}


/////////////////  Header  /////////////////////
.header {
  @include parallax-positioning(12vw, 12vh);
  width: 75vw;
  height: 50vh;
  background: $mint;
  border-radius: 8px;
}

.title {
  @include parallax-positioning(14vw, 14vh);
  width: 75vw;
  height: 50vh;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
}

.title h1 {
  font-size: 8rem;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.title h2 {
  font-size: 2.5rem;
}

//////////////////    About   ///////////////////////
.about-me {
  @include parallax-positioning(9vw, 75vh);
  background: $parrot-pink;
  width: 25vw;
  height: 18vh;
  border-radius: 8px;
}

.photo-bg {
  @include parallax-positioning(63vw, 100vh);
  background: $light-steel-blue;
  width: 22vw;
  height: 40vh;
  border-radius: 8px;
}

.about-img {
  @include parallax-positioning(60vw, 142vh);
  width: 20vw;
  border-radius: 8px;
}

.about-header {
  font-size: 3.5rem;
  @include parallax-positioning(11vw, 135vh);
}

.personal-info {
  width: 35vw;
  font-size: 1.5rem;
  @include parallax-positioning(13vw, 153vh)
}


/////////////////// Skills ///////////////////////////
.skills-header {
  @include parallax-positioning(6vw, 160vh);
  font-size: 4rem;
}

.skills-grid {
  font-size: 2.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  @include parallax-positioning(17vw, 170vh);
}

.skills-grid div {
  text-align: center;
  padding: 35px;
}

.skills-bg-2 {
  @include parallax-positioning(0vw, 155vh);
  width: 100vw;
  height: 80vh;
  background: $mint;
  border-radius: 8px;
}

///////////////// Projects //////////////////////////
.project-header {
  @include parallax-positioning(75vw, 130vh);
  font-size: 4rem;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  @include parallax-positioning(3vw, 215vh);
  width: 94vw;
}

.project-div {
  background: $parrot-pink;
  border-radius: 8px;
  text-align: center;
  font-size: 1.25rem;
  padding: 40px 15px;
}

.project-title, .project-description, .project-role, .project-responsibilities {
  padding-bottom: 20px;
}

.project-div .project-title {
  font-size: 2rem;
}

//////////////////////// Contact //////////////////////////////
.contact-info {
  text-align: center;
  @include parallax-positioning(10vw, 185vh);
  font-size: 1.75rem;
}

.contact-info h2 {
  font-size: 4rem;
  @include parallax-positioning(0vw, -18vh);
}
