html, body {
  font-family: Helvetica;
  font-weight: 100;
}
.header {
  height: 100vh;
  text-align: center;
  background-image: url("../images/watercolor-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 20%;
}

.about-me {
    height: 80vh;
    background-image: url("../images/watercolor-2.png");
    background-size: 80vh;
    background-repeat: no-repeat;
    background-position: right top;
}

.personal-info {
  width: 50vw;
  padding-left: 15%;
  font-size: 1.5em;
}

.skills {
  height: 80vh;
  text-align: right;
  background-image: url("../images/watercolor-3.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 10%;
}

.skills-info {
  width: 50vw;
  position: absolute;
  font-size: 1.5em;
  right: 15%;
}

.projects {
  height: 100vh;
  background-image: url("../images/watercolor-4.png");
  background-size: 50vh;
  background-repeat: no-repeat;
  background-position: right;
}

/***************************** HEXAGONS - HEADER ******************************/
.hex-letter, .hex-skills {
  height: 115px;
  width: 100px;
  background-image: url(../app.png);
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  margin: -3px;
  text-align: center;
  opacity: 0;
}

.hiking, .dogs, .spiffy, .wedding {
  opacity: 0;
}

.about-content {
  opacity: 0;
}

.hex-letter p {
  font-size: 75px;
}

.first-name {
  margin-top: -20px;
}

.last-name {
    margin-top: -25px;
}

.hex-1, .hex-10, .hex-15, .hiking, .personal-info h2 {
  transition: transform 1500ms cubic-bezier(0.22, 0.61, 0.36, 1) 200ms, opacity 1500ms ease-in 200ms;
}

.hex-2, .hex-7, .hex-12, .wedding, .personal-info p {
  transition: transform 1500ms cubic-bezier(0.22, 0.61, 0.36, 1) 500ms, opacity 1500ms ease-in 500ms;
}

.hex-3, .hex-6, .hex-9, .dogs {
  transition: transform 1500ms cubic-bezier(0.22, 0.61, 0.36, 1) 800ms, opacity 1500ms ease-in 800ms;
}

.hex-4, .hex-13, .hex-8, .spiffy {
  transition: transform 1500ms cubic-bezier(0.22, 0.61, 0.36, 1) 1100ms, opacity 1500ms ease-in 1100ms;
}

.hex-5, .hex-11, .hex-14 {
  transition: transform 1500ms cubic-bezier(0.22, 0.61, 0.36, 1) 1400ms, opacity 1500ms ease-in 1400ms;
}

.move {
  transform: translate(0px, 250px);
  opacity: 1;
}

.move-2 {
  transform: translate(0px, 30px);
  opacity: 1;
}


.title {
  margin-top: 280px;
  font-size: 3rem;
  display: none;
}

/*************** SKILLS DIV ****************/
.hex-skills {
  height: 150px;
  width: 130px;
  margin: -5px;
}

.hex-skills p {
  margin-top: 55px;
}
.skills-1, .skills-2 {
  width: 80%;
  position: absolute;
  margin-top: -150px;
  margin-left: 20%;
  text-align: center;
  font-size: 1.50em;
}

.skills-2 {
  margin-top:-40px;
}

/**************************** PROJECTS DIV ************************************/
.project-info {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-template-rows: 90px 200px 200px;
}

.project-div {
  border: 2px solid black;
  border-radius: 2px;
  position: relative;
}



.project-header {
  grid-column: span 3;
}

.project-div span {
  position: absolute;
  font-size: 4em;
  text-align: center;
  width: 100%;
  height: 100%;
}

.project-div span:hover {
  opacity: 0;
}

/**************************** PROJECT DIV MODALS *****************************/
.project-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.project-details {
  width: 70%;
  margin: 10px auto;
  background: white;
  border-radius: 2px;
  padding: 30px;
  background-image: url("../images/watercolor-1.png");
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: right bottom;
}

.project-details p, .project-details li, .project-details a {
  font-size: 1.25em;
}

.project-sections {
  font-size: 1.4em;
  color: #44bab0;
}
.close {
  display: block;
}
/********************** INDIVIDUAL PROJECT DIV STYLING ************************/
.hiking:hover {
  background-image: url('../images/hiking-trail-finder.gif');
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.spiffy:hover {
  background-image: url('../images/spiffy-plus.gif');
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.dogs {
  grid-column: 1/span 1;
}

.dogs:hover {
  background-image: url('../images/dog-friend-finder.gif');
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.wedding:hover {
  background-image: url("../images/andre-hunter-263233-unsplash.jpg");
  cursor: pointer;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}


/*****************************  CONTACT DIV **********************************/
.contact {
  width: 80%;
  text-align: right;
}

.contact p {
  font-size: 1.25em;
}
