$light-steel-blue: #BCC4DB;
$parrot-pink: #EFD7CB;
$mint: #C9DED7;
$granite-grey: #606361;
$white: #FFFFF9;


$dark-blue-grey: #566368;
$pastel-blue: #B7CECE;
$bittersweet: #F27059;
$vivid-tangerine: #FFA987;
